.section {
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 100px;
    flex-direction: column;
}

.stn-webmaker {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00aaff;
    border-right: 5px solid #0077ff;
    border-left: 5px solid #0077ff;
}

.stn-webmaker h2 {
    font-size: 24px;
    color: #fff;
}

.stn-header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.devloper {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-devloper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-size {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.h-size-w {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
}

.h-size-w h4 {
    font-size: 18px;
    color: #0084f0;
}

.h-size-w input {
    height: 80%;
    padding: 0 0 0 20px;
    border: 2px solid #0077ff;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0);
}

.h-size-w select {
    width: 60px;
    height: 80%;
    padding: 0 0 0 5px;
    background-color: #0077ff;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

.h-size-bg {
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
}

.h-size-btn {
    display: flex;
    gap: 10px;
}

.h-size-btn button {
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    background: #0084f0;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.h-size-btn button:hover {
    background: #006dcc;
}

.h-size-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hst-color input[type="color"] {
    width: 50px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #0077ff;
}

.upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #0084f0;
    color: white;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-btn:hover {
    background: #006dcc;
}

.select-view {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.select-content {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: #f0f4ff;
    /* yengil rangli fon */
    border: 2px solid #bbb;
    border-radius: 6px;
    box-sizing: border-box;
}

.select-content select {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    appearance: none;
    /* Chrome/Safari uchun */
}

.select-content select option {
    background-color: #fff;
    /* optionlar oq fon */
    color: #333;
    padding: 5px 10px;
    font-size: 16px;
}

/* Hover va focus effekt */
.select-content:hover,
.select-content select:focus {
    border-color: #0077ff;
}


.select-div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    background-color: #f8f9ff;
}

/* Header */
.div-header {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-box {
    width: 100%;
    height: 100%;
    background-color: #0084f0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    border-radius: 5px;
    color: #fff;
}

.header-box-ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-box-ul a:hover {
    cursor: pointer;
}

/* Nav */
.div-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-box {
    width: 14%;
    height: 100%;
    background-color: #00aaff;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.nav-box-ul {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-box-ul a {
    text-decoration: underline;
}

.nav-box-ul a:hover {
    cursor: progress;
}

/* Section */
.div-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.section-box {
    width: 100%;
    height: 65%;
    background-color: #0066cc;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    border-radius: 5px;
    color: #fff;
}

.section-box-text {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
}

.section-box-text p {
    font-size: 20px;
}

.section-box-text span {
    font-size: 14px;
}

.section-box-text button {
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    color: #0084f0;
    font-weight: 800;
    font-size: 12px;
}

.section-box-img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #0084f0;
}

/* Footer */

/* Active, Article, Hero, Aside, Banner kabi qo‘shimcha bloklar */
.div-active {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 70px;
    justify-content: center;
}

.active-box {
    width: 100%;
    height: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    background-color: #0084f0;
    color: #fff;
}

.active-box-data {
    display: flex;
    gap: 10px;
    align-items: center;
}

.active-box-data input {
    height: 30px;
    padding: 0 10px;
    border: 2px solid #fff;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.active-box-data button {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: center;
    color: #0084f0;
    background-color: #fff;
    border-radius: 7px;
}

.div-article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-box {
    width: 90%;
    height: 70px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 50px;
    justify-content: flex-start;
    background-color: #0084f0;
    border-radius: 7px;
    color: #fff;
}

.article-box-img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fff;
    color: #0084f0;
}

.div-hero {
    width: 100%;
    height: 300px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f8f9ff;

    overflow-x: auto;
    /* horizontal scroll */
    overflow-y: hidden;

    /* scrollni ko'rinmas qilish */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE va Edge */
}

.div-hero::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.hero-box {
    min-width: 200px;
    height: 200px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0084f0;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.hero-box:hover {
    transform: scale(1.1);
}

.aside-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.aside-table td {
    height: 70px;
    background-color: #0084f0;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.div-banner {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    /* banner-box ortidan yashirish uchun */
    padding-right: 0;
}

.banner-box {
    position: absolute;
    right: -250px;
    /* boshlang‘ichda div ortidan yashirin */
    bottom: 10px;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #0084f0;
    color: #fff;
    transition: right 0.4s ease;
    cursor: pointer;
}

.banner-box.open {
    right: 10px;
    /* bosilganda to‘liq ko‘rinadi */
}

.banner-box i {
    font-size: 24px;
}

.div-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-box {
    width: 100%;
    height: 14%;
    background-color: #0084f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    color: #fff;
}

.footer-box-link {
    display: flex;
    gap: 10px;
    align-items: center;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #00aaff;
    border-left: 5px solid #0077ff;
    border-right: 5px solid #0077ff;
}

header h2 {
    font-size: 24px;
    color: #fff;
}

header h2 span {
    color: #ff0000;
}

.choose-type {
    display: flex;
    gap: 20px;
    align-items: center;
}

.choose-type {
    display: flex;
    gap: 15px;
}

.choose-type i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.choose-type i:hover {
    transform: scale(1.5);
}

.choose-type i.active {
    background-color: #fff;
    color: #00aaff;
    transform: scale(1.05);
}

main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}